.header {
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid black;
  background-color: #3338;
  color: white;

  display: flex;
  justify-content: center;
  z-index: 20;
}

.header img {
  width: auto;
  height: 100%;

  z-index: 25;
}

ul.hover-dropdown {
  list-style: none;
  padding: 0;
  
  position: absolute;
  right: 10px;
  top: 20px;

  height: 30px;
  overflow: hidden;
  border-radius: 5px;
}

ul.hover-dropdown li {
  height: 30px;
  font-size: 24px;
  padding: 3px 10px;
  
  background-color: #000c;

  cursor: pointer;
  user-select: none;
}

ul.hover-dropdown li:first-child {
  cursor: default;
  background-color: #0003;
  text-align: center;
}

ul.hover-dropdown li:not(:first-child):not(:last-child) {
  border-bottom: 1px dashed #8888;
}

ul.hover-dropdown:hover {
  height: initial;
  z-index: 30;
}

.form {
  padding-top: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  min-width: 300px;
  min-height: 80px;

  margin: 10px;
  
  box-shadow:
    0px 1px 3px 0px rgba(0,0,0,0.2),
    0px 1px 1px 0px rgba(0,0,0,0.14),
    0px 2px 1px -1px rgba(0,0,0,0.12);
}

.swanky-input-container {
  position: relative;
}

.swanky-input-container select,
.swanky-input-container input {
  position: absolute;
  border: none;
  border-bottom: 1px solid black;
  background-color: white;
  
  bottom: 2px;
  left: 2px;
  width: calc(100% - 14px);
  height: 60px;

  font-size: 22px;
  padding-left: 10px;

  transition: font-size 0.25s;
}

.swanky-input-container select:focus,
.swanky-input-container input:focus{
  outline: none;
  font-size: 26px;
  border-bottom: 2px solid green;
}

option {
  font-size: 22px;
}

.swanky-input-container span.title {
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
  
  font-weight: 300;
  font-size: 16px;

  transition: font-size 0.25s, color 1s;
}

.swanky-input-container select:focus + span.title,
.swanky-input-container input:focus + span.title {
  color: green;
  font-size: 12px;
}

.swanky-input-container input:focus ~ span.invalid {
  display: none;
}

.swanky-input-container input:not(:focus) ~ span.invalid {
  position: absolute;
  top: 5px;
  right: 5px;

  font-size: 12px;
  color: red;
  text-align: right;
}

.goldRecords {
  position: absolute;
  right: 50px;
  height: 100%;
  
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.goldRecord {
  width: 20px;
}

.goldRecord img {
  width: 50px;
  height: 100%;
}



.album-dropdown-base,
ul.selectable-albums li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
}


.album-dropdown-base {
  padding-top: 30px;
  padding-right: 15px;
}

ul.selectable-albums li:hover {
  background-color: #eee;
}

.album-dropdown-base img,
ul.selectable-albums img {
  height: 45px;
  margin-top: -5px;
  width: 45px;
}

.album-dropdown-base span:not(.drop-arrow),
ul.selectable-albums li span {
  display: inline-block;
  width: 180px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.album-dropdown-base span:not(.drop-arrow):nth-child(2),
ul.selectable-albums li span:nth-child(2) {
  width: 50px;
}


.album-dropdown-base .drop-arrow {
  position: absolute;
  right: 5px;
  user-select: none;
}

ul.selectable-albums {
  list-style: none;
  padding: 0;

  position: absolute;
  top: 100%;

  max-height: 25vh;
  overflow-y: auto;
  
  margin: 2px 0 0 0;

  background-color: white;
  box-shadow:
    0px 1px 3px 0px rgba(0,0,0,0.2),
    0px 1px 1px 0px rgba(0,0,0,0.14),
    0px 2px 1px -1px rgba(0,0,0,0.12);
  
}


ul.selectable-albums::-webkit-scrollbar {
  width: 5px;
}

ul.selectable-albums::-webkit-scrollbar-track {
  background-color: #0000;
}

ul.selectable-albums::-webkit-scrollbar-thumb {
  background-color: #7d79;
  border-radius: 2.5px;
}


.click-out {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
